# Brown Marmorated Stink Bug (BMSB) Risk Analysis in Minnesota: Spatial Interaction Modeling + Monte Carlo Simulation

Contributors: Mattie Gisselbeck and Luke Zaruba

Description: This notebook models the spread of BMSB populations in Minnesota using three spatial interaction models: the Huff Model (without distance decay), the Huff Model (with a distance decay factor of two), and the Gravity Model. It employs Monte Carlo simulation to predict the likely spread of the population. The Monte Carlo simulation is used in conjunction with these models to develop an understanding of where BMSB are likely to spread.

Last Updated: March 26, 2024

### 0. Import Packages and Modules

In [1]:
# Import Packages
import os
os.environ['USE_PYGEOS'] = '0'
import sys
import arcgis
import geopandas as gpd
import pandas as pd
import psycopg2
from scipy.stats import zscore
from sqlalchemy import create_engine
from geoalchemy2 import Geometry, WKTElement

# Import Modules
sys.path.append('../functions')
from model import Simulation

### 1. Generate Distance Lags and Export to CSVs

In [ ]:
"""
# Set Path to GeoDatabase
gdb_path = '/arcgis/home/data/gdb/bmsb_risk_analysis.gdb'

# Calculate Distance Lags
arcpy.analysis.GenerateOriginDestinationLinks(
     os.path.join(gdb_path, "Aggregated_City_Boundaries"),
     os.path.join(gdb_path, "Aggregated_City_Boundaries"),
     os.path.join(gdb_path, "Distance_Lags"),
     num_nearest=100,
     distance_unit="MILES"
 )
"""

In [11]:
"""
# Set Model Directory Path
model_directory = '/arcgis/home/model'

# Check if the Model Directory Exists, if Not, Create it
if not os.path.exists(model_directory):
    os.mkdir(model_directory)

# Export Distance Lags to CSVs
arcpy.conversion.ExportTable(
    os.path.join(gdb_path, "Distance_Lags"),
    os.path.join(model_directory, "Distance_Lags.csv"),
    field_mapping='''Shape_Length "Shape_Length" false true true 8 Double 0 0 ,First,#,Distance_Lags,Shape_Length,-1,-1;ORIG_FID "ORIG_FID" true true false 4 Long 0 0,First,#,Distance_Lags,ORIG_FID,-1,-1;DEST_FID "DEST_FID" true true false 4 Long 0 0,First,#,Distance_Lags,DEST_FID,-1,-1;LINK_DIST "LINK_DIST" true true false 8 Double 0 0,First,#,Distance_Lags,LINK_DIST,-1,-1'''

# Export Aggregated City Boundaries to CSV
arcpy.conversion.ExportTable(
    os.path.join(gdb_path, "Aggregated_City_Boundaries"),
    os.path.join(model_directory, "Aggregated_City_Boundaries.csv"),
)
"""

### 2. Calculate Weights

#### 2.1. Load Attributes from CSV to DataFrame and Rename Column Names

In [15]:
# Load Attributes from CSV to DataFrame
attributes_df = pd.read_csv('../data/model/CityTerritory.csv')
#attributes_df

In [16]:
# Rename Column Names
attributes_df = attributes_df.rename(columns={
    'OBJECTID': 'ObjectID',
    'FEATURE_NA': 'City',
    'COUNTY_NAM': 'County',
    'POPULATION': 'Population',
    'DEM_RANGE': 'DEM: Range',
    'DEM_MEAN': 'DEM: Mean',
    'DEM_STD': 'DEM: Standard Deviation',
    'DEM_MEDIAN': 'DEM: Median',
    'WX_Join_Count': 'WX: Join Count',
    'WX_MAX_TMP': 'WX: Mean Maximum Temperature',
    'WX_MIN_TMP': 'WX: Mean Minimum Temperature',
    'WX_PRECIP': 'WX: Mean Precipitation',
    'BMSB_Point_Count': 'BMSB: Observation Count',
    'NCLD_CLASS_1': 'NLCD: Urban',
    'NLCD_CLASS_2': 'NLCD: Agricultral',
    'NLCD_CLASS_3': 'NLCD: Natural',

})

##### 2.2. Convert NLCD Land Cover Classifications to Percentages

In [17]:
# Convert 'NLCD: Urban' to Percentage
attributes_df["NLCD: Percent Urban"] = attributes_df["NLCD: Urban"] / (attributes_df["NLCD: Urban"] + attributes_df["NLCD: Agricultral"] + attributes_df["NLCD: Natural"])

# Convert 'NLCD: Agricultral' to Percentage
attributes_df["NLCD: Percent Agricultral"] = attributes_df["NLCD: Agricultral"] / (attributes_df["NLCD: Urban"] + attributes_df["NLCD: Agricultral"] + attributes_df["NLCD: Natural"])

# Convert 'NLCD: Natural' to Percentage
attributes_df["NLCD: Percent Natural"] = attributes_df["NLCD: Natural"] / (attributes_df["NLCD: Urban"] + attributes_df["NLCD: Agricultral"] + attributes_df["NLCD: Natural"])

#### 2.3. Convert BMSB Observation Count to Presence

In [19]:
# Convert BMSB Observation Count to Presence
attributes_df["BMSB: Presence"] = attributes_df["BMSB: Observation Count"].apply(lambda x: 1 if x >= 1 else 0)

#### 2.4. Calculate Z-Score for Population, DEM, and Mean Maximum Temperature

In [20]:
# Calculate Z-Score for Population
attributes_df['Population (Z)'] = zscore(attributes_df['Population'])

# Calculate Z-Score for DEM
attributes_df['DEM: Median (Z)'] = zscore(attributes_df['DEM: Median'])

# Calculate Z-Score for Mean Maximum Temperature
attributes_df['WX: Mean Maximum Temperature (Z)'] = zscore(attributes_df['WX: Mean Maximum Temperature'])

#### 2.5. Invert 'NLCD: Percent Agricultral' and Negate 'DEM: Median'

In [21]:
# Invert 'NLCD: Percent Agricultral'
attributes_df["NLCD: Percent Agricultral (INV)"] = 1 - attributes_df["NLCD: Percent Agricultral"]

# Negate 'DEM: Median' 
attributes_df["DEM: Median (Z - INV)"] = -1 * attributes_df["DEM: Median (Z)"]

#### 2.6. Calculate Absolute Value of Population, DEM, and Mean Maximum Temperature

In [23]:
# Adjust 'Population (Z)' to Positive Value
attributes_df["Population (Z)"] = attributes_df["Population (Z)"].apply(lambda x: abs(attributes_df["Population (Z)"].min()) + x)

# Adjust 'DEM: Median (Z - INV)' to Positive Value
attributes_df["DEM: Median (Z - INV)"] = attributes_df["DEM: Median (Z - INV)"].apply(lambda x: abs(attributes_df["DEM: Median (Z - INV)"].min()) + x)

# Adjust 'WX: Mean Maximum Temperature (Z)' to Positive Value
attributes_df["WX: Mean Maximum Temperature (Z)"] = attributes_df["WX: Mean Maximum Temperature (Z)"].apply(lambda x: abs(attributes_df["WX: Mean Maximum Temperature (Z)"].min()) + x)

#### 2.7. Drop Columns

In [24]:
# Drop Columns
columns = [
       "Shape_Length",
       "County",
       "GNIS",
       "WX: Join Count",
       "WX: Mean Minimum Temperature",
       "NLCD: Urban",
       "NLCD: Agricultral",
       "NLCD: Natural",
       "DEM: Mean",
       "DEM: Range",
       "DEM: Standard Deviation",
       "WX: Mean Precipitation",
       "NLCD: Percent Natural",
       "Population",
       "DEM: Median",
       "WX: Mean Maximum Temperature",
       "NLCD: Percent Agricultral",
       "DEM: Median (Z)"
]

attributes_df = attributes_df.drop(columns, axis=1)

#### 2.8. Calculate Weights/Probabilities

In [25]:
# Calculate Weights/Probabilities
attributes_df["Wi"] = attributes_df[["NLCD: Percent Urban", "NLCD: Percent Agricultral (INV)", "Population (Z)", "DEM: Median (Z - INV)", "WX: Mean Maximum Temperature (Z)"]].sum(axis=1)

##### 2.9. Display Descriptive Statistics for 'Wi' Scores

In [26]:
# Display Descriptive Statistics for 'Wi' Scores
attributes_df["Wi"].describe()

count    903.000000
mean       8.380871
std        2.181309
min        2.600151
25%        6.864827
50%        8.310738
75%        9.573658
max       30.939597
Name: Wi, dtype: float64

In [27]:
# Drop Unneeded Columns
attributes_df = attributes_df[["OID_", "City", "Wi", "BMSB: Presence"]].copy()
#attributes_df

### 3. Load Distance Lags

In [28]:
# Read Distance Lags CSV
lags_df = pd.read_csv('../data/model/DistanceLags.csv')

# Drop Columns
lags_df = lags_df.drop(["OID_", "Shape_Length"], axis=1)
#lags_df

### 4. Join Distance Lags and Attributes

In [29]:
# Merge BMSB Attritutes and Distance Lags CSVs
merged_df = lags_df.merge(attributes_df, left_on="ORIG_FID", right_on="OID_")
merged_df = merged_df.merge(attributes_df, left_on="DEST_FID", right_on="OID_", suffixes=("", "_TO"))

# Drop Columns
merged_df = merged_df.drop(["ORIG_FID", "DEST_FID", "OID_", "OID__TO", "BMSB: Presence_TO"], axis=1)

# Add Empty End Presence Field
merged_df["BMSB Presence: j"] = 0

# Change Column Names
merged_df = merged_df.rename(columns={
    'LINK_DIST': 'Distance',
    'City': 'City: From',
    'Wi': 'W: From',
    'BMSB: Presence': 'BMSB Presence: From',
    'City_TO': 'City: To',
    'Wi_TO': 'W: To',
    'BMSB Presence: j': 'BMSB Presence: To',
})

#merged_df

### 5. Run Huff Model

In [30]:
# Run Huff Model
huff_model = Simulation(merged_df)

# Run 100 Iterations
hs_df = huff_model.monte_carlo("HUFF_MODEL", 100, True)

hs_df

100%|██████████| 100/100 [02:49<00:00,  1.70s/it]

,Distance,City: From,W: From,BMSB Presence: From,City: To,W: To,BMSB Presence: To,HM: Wi/Dij,HM: Simple,HS: Transition Count
0,43.862782,Bluffton,5.969539,0,Randall,7.135679,0,0.162682,0.000451,0
1,35.085990,Sartell,9.284543,1,Randall,7.135679,0,0.203377,0.000564,0
2,48.574812,Aitkin,7.276592,0,Randall,7.135679,0,0.146901,0.000407,0
3,50.136998,Isle,5.222042,0,Randall,7.135679,0,0.142324,0.000395,0
4,37.975182,Crosby,7.112552,1,Randall,7.135679,0,0.187904,0.000521,0
...,...,...,...,...,...,...,...,...,...,...
90295,9.014127,Bellingham,9.554981,1,Odessa,9.711266,0,1.077339,0.002988,0
90296,55.180001,Ivanhoe,5.667639,0,Odessa,9.711266,0,0.175992,0.000488,0
90297,21.773488,Graceville,8.976602,0,Odessa,9.711266,0,0.446013,0.001237,0
90298,47.188037,Kensington,7.513153,0,Odessa,9.711266,0,0.205799,0.000571,0
90299,38.407737,Wheaton,9.802853,1,Odessa,9.711266,0,0.252847,0.000701,0

### 6. Run Huff Model with Distance Decay (α = 2)

In [31]:
# Run Huff Model with Distance Decay (Alpha = 2)
huff_model_dd = Simulation(merged_df)

# Run 100 Iterations
hd2_df = huff_model_dd.monte_carlo("HUFF_MODEL_DD", 100, True)

hd2_df

  0%|          | 0/100 [00:00<?, ?it/s]

100%|██████████| 100/100 [02:50<00:00,  1.70s/it]

,Distance,City: From,W: From,BMSB Presence: From,City: To,W: To,BMSB Presence: To,HD2: Wi/Dij,Huff: DD of 2,HD2: Transition Count
0,43.862782,Bluffton,5.969539,0,Randall,7.135679,0,0.003709,0.000071,0
1,35.085990,Sartell,9.284543,1,Randall,7.135679,0,0.005797,0.000110,0
2,48.574812,Aitkin,7.276592,0,Randall,7.135679,0,0.003024,0.000057,0
3,50.136998,Isle,5.222042,0,Randall,7.135679,0,0.002839,0.000054,0
4,37.975182,Crosby,7.112552,0,Randall,7.135679,0,0.004948,0.000094,0
...,...,...,...,...,...,...,...,...,...,...
90295,9.014127,Bellingham,9.554981,0,Odessa,9.711266,0,0.119517,0.002272,0
90296,55.180001,Ivanhoe,5.667639,0,Odessa,9.711266,0,0.003189,0.000061,0
90297,21.773488,Graceville,8.976602,0,Odessa,9.711266,0,0.020484,0.000389,0
90298,47.188037,Kensington,7.513153,0,Odessa,9.711266,0,0.004361,0.000083,0
90299,38.407737,Wheaton,9.802853,0,Odessa,9.711266,0,0.006583,0.000125,0

### 7. Run Gravity Model

In [32]:
# Run Gravity Model - Converted to Probability
gravity_model = Simulation(merged_df)

# Run 100 Iterations
g_df = gravity_model.monte_carlo("GRAVITY_MODEL", 100, True)

g_df

  0%|          | 0/100 [00:00<?, ?it/s]

100%|██████████| 100/100 [02:50<00:00,  1.70s/it]

,Distance,City: From,W: From,BMSB Presence: From,City: To,W: To,BMSB Presence: To,Gravity,Gravity: Probability,G: Transition Count
0,43.862782,Bluffton,5.969539,1,Randall,7.135679,0,0.971136,0.000287,0
1,35.085990,Sartell,9.284543,1,Randall,7.135679,0,1.888262,0.000559,0
2,48.574812,Aitkin,7.276592,0,Randall,7.135679,0,1.068937,0.000316,0
3,50.136998,Isle,5.222042,1,Randall,7.135679,0,0.743220,0.000220,0
4,37.975182,Crosby,7.112552,0,Randall,7.135679,0,1.336475,0.000395,0
...,...,...,...,...,...,...,...,...,...,...
90295,9.014127,Bellingham,9.554981,0,Odessa,9.711266,0,10.293949,0.003046,0
90296,55.180001,Ivanhoe,5.667639,0,Odessa,9.711266,0,0.997462,0.000295,0
90297,21.773488,Graceville,8.976602,1,Odessa,9.711266,1,4.003684,0.001185,1
90298,47.188037,Kensington,7.513153,1,Odessa,9.711266,0,1.546202,0.000457,0
90299,38.407737,Wheaton,9.802853,0,Odessa,9.711266,0,2.478618,0.000733,0

### 8. Aggregate Results by City Boundaries

#### 8.1. Aggregate Total Incoming BMSB per City

In [33]:
# Aggregate Total Incoming BMSB per City for Huff Model
hs_df_incoming = hs_df.groupby("City: To").agg(["sum"])["HS: Transition Count"]
hs_df_incoming.columns = ["HSIn"]

# Aggregate Total Incoming BMSB per City for Huff Model with Distance Decay
hd2_df_incoming = hd2_df.groupby("City: To").agg(["sum"])["HD2: Transition Count"]
#hd2_df_incoming.columns = ["HD2In"]

# Aggregate Total Incoming BMSB per City for Gravity Model
g_df_incoming = g_df.groupby("City: To").agg(["sum"])["G: Transition Count"]
g_df_incoming.columns = ["GIn"]

#### 8.2. Aggregate Total Outgoing BMSB per City

In [34]:
# Aggregate Total Outgoing BMSB per City for Huff Model
hs_df_outgoing = hs_df.groupby("City: From").agg(["sum"])["HS: Transition Count"]
hs_df_outgoing.columns = ["HSOut"]

# Aggregate Total Outgoing BMSB per City for Huff Model with Distance Decay
hd2_df_outgoing = hd2_df.groupby("City: From").agg(["sum"])["HD2: Transition Count"]
hd2_df_outgoing.columns = ["HD2Out"]

# Aggregate Total Outgoing BMSB per City for Gravity Model
g_df_outgoing = g_df.groupby("City: From").agg(["sum"])["G: Transition Count"]
g_df_outgoing.columns = ["GOut"]

#### 8.3. Aggregate Total Percentage Risk to City

In [35]:
# Aggregate Total Percentage Risk to City for Huff Model
hs_df["HM: Simple"] /= 100
hs_df_sum_prob = hs_df.groupby("City: To").agg(["sum"])["HM: Simple"]
hs_df_sum_prob.columns = ["HSRisk"]

# Aggregate Total Percentage Risk to City for Huff Model with Distance Decay
hd2_df["Huff: DD of 2"] /= 100
hd2_df_sum_prob = hd2_df.groupby("City: To").agg(["sum"])["Huff: DD of 2"]
hd2_df_sum_prob.columns = ["HD2Risk"]

# Aggregate Total Percentage Risk to City for Gravity Model
g_df["Gravity: Probability"] /= 100
g_df_sum_prob = g_df.groupby("City: To").agg(["sum"])["Gravity: Probability"]
g_df_sum_prob.columns = ["GRisk"]

#### 8.4. Merge Aggregated DataFrames

In [36]:
# Merge Aggregated DataFrames for Huff Model
hsm = hs_df_incoming.merge(hs_df_outgoing, left_index=True, right_index=True).merge(hs_df_sum_prob, left_index=True, right_index=True)

# Merge Aggregated DataFrames for Huff Model with Distance Decay
hsm_dd = hd2_df_incoming.merge(hd2_df_outgoing, left_index=True, right_index=True).merge(hd2_df_sum_prob, left_index=True, right_index=True)

# Merge Aggregated DataFrames for Gravity Model
gm = g_df_incoming.merge(g_df_outgoing, left_index=True, right_index=True).merge(g_df_sum_prob, left_index=True, right_index=True)

In [37]:
# Read City Territory Shapefile
city_shp = gpd.read_file('../data/mnCityTerritory/city_township_unorg.shp')

# Extract 'City' from City Territory Shapefile
city_shp = city_shp.loc[city_shp["CTU_CLASS"] == "CITY"]

# Convert to Centroids
#city_shp["centroid"] = city_shp.centroid
#city_shp.set_geometry("centroid")

# Drop Unneccesary Columns
city_gdf = city_shp[["FEATURE_NA", "geometry"]].copy()

city_gdf.head()

    FEATURE_NA                                           geometry
2     Bluffton  POLYGON ((329659.499 5147112.939, 328053.889 5...
6      Sartell  MULTIPOLYGON (((401466.050 5050916.149, 401909...
7    Cambridge  MULTIPOLYGON (((479383.600 5046640.250, 480237...
8       Waseca  MULTIPOLYGON (((456193.867 4880132.745, 456598...
9  La Crescent  MULTIPOLYGON (((633758.458 4853600.791, 633768...

#### 8.4. Join Results to GeoDataFrame

In [38]:
# Merge Results to GeoDataFrame
hs_gdf = city_gdf.merge(hsm, left_on="FEATURE_NA", right_index=True)
hd2_gdf = city_gdf.merge(hsm_dd, left_on="FEATURE_NA", right_index=True)
g_gdf = city_gdf.merge(gm, left_on="FEATURE_NA", right_index=True)

In [39]:
# Rename Columns
hs_gdf.columns = ["City", "geom", "Incoming", "Outgoing", "Risk"]
hd2_gdf.columns = ["City", "geom", "Incoming", "Outgoing", "Risk"]
g_gdf.columns = ["City", "geom", "Incoming", "Outgoing", "Risk"]
hs_gdf

,City,geom,Incoming,Outgoing,Risk
2,Bluffton,"POLYGON ((329659.499 5147112.939, 328053.889 5...",0,0,0.000652
6,Sartell,"MULTIPOLYGON (((401466.050 5050916.149, 401909...",15,11,0.002621
566,Sartell,"MULTIPOLYGON (((406404.311 5053082.469, 406404...",15,11,0.002621
7,Cambridge,"MULTIPOLYGON (((479383.600 5046640.250, 480237...",7,4,0.000796
8,Waseca,"MULTIPOLYGON (((456193.867 4880132.745, 456598...",4,5,0.001008
...,...,...,...,...,...
2722,Plainview,"POLYGON ((564780.422 4891529.795, 565574.030 4...",7,10,0.000793
2723,Albertville,"POLYGON ((450254.010 5009587.550, 450223.021 5...",14,28,0.002197
2724,Storden,"POLYGON ((314864.270 4879286.556, 314850.849 4...",1,4,0.000746
2725,Circle Pines,"POLYGON ((488762.841 4999960.346, 489176.981 4...",22,19,0.003339
2738,Gibbon,"POLYGON ((378233.850 4931642.839, 378300.450 4...",2,0,0.000818

### 9. Upload Results to PostgreSQL Database

#### 9.1. Connect to Google PostgreSQL Database

In [ ]:
engine = create_engine('postgresql://user:password;@host:5432/db_name', echo=False)

In [28]:
"""
def create_connection():
    try:
        connection = psycopg2.connect(
            dbname='',
            user='',
            password='',
            host='',
            #sslmode='require'
        )
        return connection
    except Exception as e:
        print(f"Error: {e}")
        return None

connection = create_connection()
if connection:
    print("Connected to PostgreSQL Database")
    connection.close()
"""

Connected to PostgreSQL Database

#### 9.2. Convert Point Objects to WKT Format

In [29]:
# Convert Point Objects to WKT Format for Huff Model
hs_gdf['geom'] = hs_gdf['geom'].apply(lambda x: WKTElement(x.wkt, srid=4326))

In [30]:
# Convert Point Objects to WKT Format for Huff Model with Distance Decay
hd2_gdf['geom'] = hd2_gdf['geom'].apply(lambda x: WKTElement(x.wkt, srid=4326))

In [31]:
# Convert Point Objects to WKT Format for Gravity Model
g_gdf['geom'] = g_gdf['geom'].apply(lambda x: WKTElement(x.wkt, srid=4326))

#### 9.3. Write GeoDataFrame to PostgreSQL Database

In [81]:
# Write GeoDataFrame to PostgreSQL Database for Huff Model
hs_gdf.to_sql("huff_model", engine, if_exists='replace', index=False, dtype={'geom': Geometry('POINT', srid=4326)})

905

In [32]:
# Write GeoDataFrame to PostgreSQL Database for Huff Model with Distance Decay
hd2_gdf.to_sql("huff_model_distance_decay", engine, if_exists='replace', index=False, dtype={'geom': Geometry('POINT', srid=4326)})

905

In [33]:
# Write GeoDataFrame to PostgreSQL Database for Gravity Model
g_gdf.to_sql("gravity_model", engine, if_exists='replace', index=False, dtype={'geom': Geometry('POINT', srid=4326)})

905

In [3]:
from sqlalchemy import create_engine, inspect
engine = create_engine('postgresql://postgres:#H<8Y$Ya5RF"QKz;@35.192.156.119:5432/sandbox', echo=False)